<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
    <configSections>
        <sectionGroup name="lnf">
            <section name="providers" type="LNF.ProvidersSection, LNF"/>
            <section name="redis" type="LNF.Impl.Redis.RedisConfigurationSection, LNF.Impl"/>
        </sectionGroup>
    </configSections>

    <lnf>
        <providers production="false">
            <context type="LNF.Impl.WebContextProvider, LNF.Impl" loginUrl="/login"/>
            <dataAccess type="LNF.Impl.NHibernateWebDataAccess, LNF.Impl"/>
            <serialization type="LNF.Impl.Serialization.SerializationProvider, LNF.Impl"/>
            <email type="LNF.Impl.Email.EmailProvider, LNF.Impl" host="127.0.0.1"/>
            <control type="LNF.Impl.Control.Wago.WagoControl, LNF.Impl" host="http://wagosvr:7778/"/>
            <log type="LNF.Impl.Logging.ServiceLogProvider, LNF.Impl" name="Tasks" enabled="true"/>
            <modelFactory type="LNF.Impl.ModelFactory.ValueInjecterModelFactory, LNF.Impl"/>
        </providers>
        <redis>
            <connection host="cachesvr" databaseId="5"/>
        </redis>
    </lnf>

    <appSettings>
        <add key="LogsFolder" value="*****"/>
        <add key="ApiHost" value="*****"/>
        <add key="BasicAuthUsername" value="*****" />
        <add key="BasicAuthPassword" value="*****" />
        <add key="MongoConnectionString" value="*****"/>
        <add key="webpages:Version" value="3.0.0.0"/>
        <add key="webpages:Enabled" value="false"/>
        <add key="ClientValidationEnabled" value="true"/>
        <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    </appSettings>

    <connectionStrings>
        <add name="cnSselData" connectionString="*****"/>
    </connectionStrings>

    <system.web>
        <compilation debug="true" targetFramework="4.6.1"/>
        <httpRuntime targetFramework="4.6.1"/>

        <authentication mode="Forms">
            <forms name="sselAuth.cookie" path="/" loginUrl="/login" timeout="480" protection="All" slidingExpiration="true" domain="umich.edu" cookieless="UseCookies"/>
        </authentication>

        <authorization>
            <deny users="?"/>
        </authorization>

        <machineKey compatibilityMode="Framework20SP2" validationKey="xxxxx" decryptionKey="xxxxx" validation="SHA1" decryption="3DES"/>

        <customErrors mode="Off"/>
    </system.web>

    <system.webServer>
        <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
            <remove name="OPTIONSVerbHandler"/>
            <remove name="TRACEVerbHandler"/>
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
        </handlers>
    </system.webServer>

    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
        </compilers>
    </system.codedom>
</configuration>
